<main>
    <h1>LOGIN</h1>
    <form action="/api/sessions/login" method="post">
        <label for="email">EMAIL</label>
        <input name="email" type="email" id="email">
        <label for="password">CONTRASEÑA</label>
        <input name="password" type="password" id="password">
        <input type="submit" value="Login">
    </form>
    <a href="/static/register">REGISTRARSE</a>
</main>